html {
    font-size: 62.5%;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #403333;


    font-size: variables.$sp-font-size;

    @include mixins.mq(pc){
        font-size: variables.$pc-font-size;
    }
}

img {
    max-width: 100%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1770px)
    }
}

@keyframes bottom-wave {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-990px)
    }
}

.more{
    display: block;
    padding: 1em 5em 1em 1em;
    margin: 0 auto;
    margin-top: 5em;
    background-color: variables.$accent-color;
    position: relative;
    color: variables.$font-color;
    max-width: 15em;

    &:before {
        content: "";
        display: block;
        border: 1px #403333 solid;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -3px;
        left: -3px;
    }

    i {
        position: absolute;
        right: 1.5em;
    }
}
