$main-color: #FFF2F2;
$sub-color: #b37474;
$accent-color: #F2D291;
$font-color: #403333;
$border: 1px #ccc solid;
// カラー

$sp-font-size: 13px;
$pc-font-size: 17px;
// フォントサイズ

$padding-title: 10em 3em 0;
$base-split: 10vw;
$box-width: (
    "tablet": 10vw,
    "pc": 100%,
) !default;
// 余白

$breakpoints: (
    // "mobile": "screen and (min-width: 431px)",
    "tablet": "screen and (min-width: 600px)",
    "pc": "screen and (min-width: 1000px)",
) !default;

// ブレイクポイント




// TODO


// 画像の書き出し_ロゴ・スライド・足跡

// ヘッダー
// フェードでサブメニューを表示させる

// about
// moreボタンのホバーアクションを他のでも試す
// 破線を追加

// family
// ホバーアクション

// service
// ホバーアクション
// 足跡の画像を追加

// news
// ホバーアクション

// contace
// リンクタグに画像が含まれていない

// instagram
// moreボタンが機能してない

// footer
// ホバーアクション
// cssを整理する
