#about {
    background-color: variables.$main-color;

    section {
        padding-top: 10em;

        &:last-child {
            padding-bottom: 10em;

            article {
                @include mixins.mq(pc) {
                    flex-direction: row-reverse
                }
            }

        }

        h2 {
            @include mixins.title-sp(80%, 0);
            @include mixins.title-border();

            @include mixins.mq(pc) {
                @include mixins.title-border(0, 0);
                @include mixins.title-pc();
            }

        }

        article {
            @include mixins.mq(pc) {
                display: flex;
            }

            img {
                display: block;
                padding: 4em 0;
                margin: 0 auto;
                width: 65vw

            }

            div {
                @include mixins.box-width(8);
                

                span {
                    @include mixins.sp-hide(none);

                    @include mixins.mq(pc){
                        display: block;
                    }
                }

                p {
                    font-size: variables.$base-font-size;
                    line-height: 2em;
                }

                strong {
                    text-decoration: underline;
                    text-decoration-color: variables.$accent-color;
                    text-decoration-thickness: 5px;
                    text-underline-offset: -2px;
                    text-decoration-skip-ink: none;
                    font-weight: normal;
                }

                .more {
                    @include mixins.more();
                }

            }
        }
    }
}