#about {
    background-color: variables.$main-color;

    section {
        padding-top: 5em;

        h2 {
            @include mixins.title(80%, 0);
            @include mixins.border(120%, -10%);

            @include mixins.mq(pc) {
                @include mixins.title(40%, 0);
                @include mixins.border(240%, -70%);
            }
        }

        &:first-child img {
            padding-right: 3%;
        }

        &:last-child {
            padding-bottom: 10em;
            padding-top: 10em;

            article {
                @include mixins.mq(pc) {
                    flex-direction: row-reverse;
                }

                img {
                    padding-left: 3%;
                }
            }
        }


        article {
            @include mixins.mq(pc) {
                @include mixins.box-width(9);
                display: flex;
                justify-content: space-between;
                padding-top: 7em;
            }

            img {
                display: block;
                margin: 3em auto;
                width: 70vw;

                @include mixins.mq(pc) {
                    width: 40vw;
                    margin: 0;
                }
            }

            div {
                @include mixins.box-width(8);

                @include mixins.mq(pc) {
                    margin: 0;
                    width: 40vw;
                    position: relative;
                }

                span {
                    display: none;

                    @include mixins.mq(pc) {
                        display: block;
                        font-size: 1.9vw;
                        color: #674d32;
                        font-weight: 500;
                        line-height: 1.7em;
                        letter-spacing: .2em;
                    }
                }

                p {
                    line-height: 2em;

                    @include mixins.mq(pc) {
                        margin-top: .8em;
                        font-size: 1.4vw;
                    }
                }

                strong {
                    text-decoration: underline;
                    text-decoration-color: variables.$accent-color;
                    text-decoration-thickness: 5px;
                    text-underline-offset: -2px;
                    text-decoration-skip-ink: none;
                    font-weight: normal;
                }

                .more {
                    @include mixins.hover-tra();

                    @include mixins.mq(pc) {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
}