#about {
    background-color: variables.$main-color;

    section {
        padding-top: 5em;

        &:first-child img{
            &:first-child{
                padding-right: 3%;
            }
        }

        &:last-child {
            padding-bottom: 10em;
            padding-top: 10em;


            article {
                @include mixins.mq(pc) {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }

                img{
                    padding-left: 3%;
                }
            }
        }

        h2 {
            @include mixins.title-sp(80%, 0);
            @include mixins.title-border();

            @include mixins.mq(pc) {
                @include mixins.title-border(0, 0);
                @include mixins.title-pc();
            }
        }

        article {
            @include mixins.mq(pc) {
                padding-top: 7em;
                display: flex;
                @include mixins.box-width(9);
                justify-content: space-between;
            }

            img {
                display: block;
                margin: 5em auto;
                width: 65vw;

                

                @include mixins.mq(pc) {
                    width: 41vw;
                    margin: 0;
                }

            }

            div {
                @include mixins.box-width(8);

                @include mixins.mq(pc) {
                    margin: 0;
                    width: 40vw;
                    position: relative;
                }

                span {
                    @include mixins.sp-hide(none);

                    @include mixins.mq(pc) {
                        display: block;
                        font-size: 1.3em;
                        font-weight: 500;
                        color: variables.$accent-color;
                        line-height: 1.5em;
                    }
                }

                p {
                    line-height: 2em;

                    @include mixins.mq(pc) {
                        padding-top: 2em;
                    }
                }

                strong {
                    text-decoration: underline;
                    text-decoration-color: variables.$accent-color;
                    text-decoration-thickness: 5px;
                    text-underline-offset: -2px;
                    text-decoration-skip-ink: none;
                    font-weight: normal;


                }

                .more {
                    @include mixins.more();

                    @include mixins.mq(pc) {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }

            }
        }
    }
}