#family {
    // padding: variables.$padding;
    background-image: url(/images/family/bg@3x.png);
    background-size: 70%;

    h2{
        width: 80%;
        margin: 0 auto;
        padding-top: 10em;
    }

    ul {
        @include mixins.box-width(8);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            width: 45%;
            margin-top: 10vw;

            &:nth-child(3),
            &:nth-child(4){
                padding-bottom: 20vw;

            }

            a{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;

                h3{
                    font-size: 1.3em;
                    padding-top: 3vw;
                    color: variables.$sub-color;
                    font-weight: 500;
                }

            }

        }
        

    }

}