#family {
    // padding: variables.$padding;
    background-image: url(/images/family/bg@3x.png);
    background-size: 70%;

    h2 {
        @include mixins.title-sp();

        @include mixins.mq(pc){
            @include mixins.title-pc();
            }
    }

    ul {
        @include mixins.box-width(8);
        @include mixins.flex();
        padding: 5em 0 7em;

        @include mixins.mq(pc) {
            flex-wrap: nowrap;
        }

        li {
            width: 45%;


            a {
                @include mixins.flex-column();

                h3 {
                    color: variables.$sub-color;
                    font-size: 1.3em;
                    margin-top: 1.5em;
                    font-weight: 500;
                }

            }

        }


    }

}