#family {
    background-image: url(/images/family/bg@3x.png);
    background-size: 70%;

    @include mixins.mq(pc) {
        background-size: 40%;

    }

    h2 {
        @include mixins.title-pig();
    }

    ul {
        @include mixins.box-width(8);
        @include mixins.flex();
        padding: 5em 0 7em;

        @include mixins.mq(pc) {
            flex-wrap: nowrap;
        }

        li {
            width: 45%;
            @include mixins.hover-tra ();

            @include mixins.mq(pc) {
                margin: 1em;
            }

            &:nth-child(n + 3) {
                padding-top: 5em;

                @include mixins.mq(pc) {
                    padding-top: 0;
                }
            }

            a {
                @include mixins.flex-column();

                h3 {
                    color: variables.$sub-color;
                    font-size: 1.1em;
                    margin-top: 1.5em;
                    font-weight: 500;

                    @include mixins.mq(pc) {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}