footer {
    background-color: #734E4A;
    padding-top: 3em;
    padding-bottom: 3em;
    color: #fff;

    #footer-logo {
        margin: 0 auto;
        max-width: 200px;
        padding-bottom: 5em;

        @include mixins.mq(pc) {
            max-width: none;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            @include mixins.box-width(8);
        }

        a {
            display: block;

            &:first-child {
                font-size: 8px;
                text-align: center;

                @include mixins.mq(pc) {
                    font-size: 15px;
                }

                span {
                    display: block;
                    margin-top: 1em;
                }
            }

            &:last-child {
                font-size: 8px;
                margin: 5em auto 0;
                padding: 1.5em 0;
                text-align: center;
                line-height: 2em;
                border-radius: 10px;
                background-color: variables.$sub-color;

                @include mixins.mq(pc) {
                    margin: 0;
                    font-size: 15px;
                    width: 400px;
                }

                strong {
                    display: block;
                    font-size: 2em;

                }
            }
        }
    }

    #footer-service {
        display: none;

        @include mixins.mq(pc) {
            display: block;

            @include mixins.box-width();
            padding: 0 3em 3em;

            >span{
                    font-weight: 600;
                }

            ul {
                margin: 3em 0;
                display: flex;
                justify-content: space-between;
                width: 100%;

                li {
                    width: 10vw;

                    a {
                        span {
                            display: block;
                            text-align: center;
                            margin: 0 auto;

                            &:first-child {
                                font-size: 3em;
                                position: relative;
                                background-color: #fff;
                                color: #734E4A;
                                height: 90px;
                                width: 90px;
                                line-height: 90px;
                                border-radius: 45px;
                            }

                            &:last-child {
                                margin-top: 1em;

                                i{
                                    margin-right: .5em;
                                }
                            }
                        }
                    }
                }
            }
        }

        >a {
            position: absolute;
            right: 0;
            padding-right: 3em;

            i {
                font-size: .7em;
                margin-right: .5em;
                border: 1px #fff solid;
                width: 1.5em;
                height: 1.5em;
                line-height: 1.5em;
                border-radius: 0.75em;
                text-align: center;
            }
        }
    }

    aside {
        #footer-link {
            @include mixins.box-width();
            border-top: variables.$border;
            border-bottom: variables.$border;
            font-weight: 700;
            display: flex;
            padding: 2em 1em;
            justify-content: space-between;

            @include mixins.mq(pc) {
                padding: 2em 3em;
            }

            >div {
                width: 50%;

                @include mixins.mq(pc) {
                    display: flex;
                    justify-content: space-between;
                }

                ul li {
                    margin: 1.5em 0;
                }

                &:first-child {
                    @include mixins.mq(pc) {
                        width: 75%;
                    }

                    >ul {
                        @include mixins.mq(pc) {
                            width: 33.333%;
                        }

                        .sp_hide {
                            display: none;

                            @include mixins.mq(pc) {
                                display: block;

                                li:has(> i) {
                                    font-weight: 400;
                                }

                                i {
                                    margin-right: .5em;
                                }
                            }
                        }
                    }

                }

                &:last-child {
                    @include mixins.mq(pc) {
                        width: 25%;
                    }
                }
            }
        }

        #social {
            @include mixins.box-width(8);
            margin-top: .7em;
            font-size: 1.5em;

            ul {
                display: flex;
                justify-content: flex-end;

                li:last-child {
                    margin-left: .7em;
                }
            }
            @include mixins.mq(pc) {
                font-size: 2em;
            }
        }

        #copr {
            @include mixins.box-width(8);

            p {
                font-size: 8px;
                text-align: center;
                margin-top: 3em;
                line-height: 2em;

                @include mixins.mq(pc) {
                    font-size: 13px;
                }
            }

            h6 {
                font-size: 6px;
                margin-top: 2em;
                text-align: center;

                @include mixins.mq(pc) {
                    font-size: 10px;
                }
            }
        }
    }
}