header {
    @include mixins.flex();
    height: 8.5em;
    padding: 1.7em;

    h1 {
        width: 20vw;
        height: 100%;

        img {
            height: 100%;
            ;
        }
    }

    nav {
        display: none;

        @include mixins.mq(pc) {
            display: flex;
            flex-direction: column;

            >ul {

                &:first-child {
                    display: flex;
                    height: fit-content;
                    justify-content: flex-end;
                    color: #fff;

                    li {
                        background-color: variables.$sub-color;
                        width: 13em;
                        padding: 0.5em 2em;
                        border-radius: 5px;
                        margin-left: 2.5em;
                        text-align: center;
                        @include mixins.hover-tra();

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }

                &:last-child {
                    display: flex;
                    margin-top: 1em;

                    >li {
                        margin-left: 2.5em;

                        &:hover .sub-menu {
                            display: block;
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        .sub-menu {
                            display: none;
                            position: absolute;
                            z-index: 1000;
                            background-color: variables.$main-color;
                            transition: 1s;

                            li {
                                padding: 1em 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

// TODO:ハンバーガーメニューの表示

#hamburger {
    display: block;
    position: fixed;
    z-index: 300;
    background-color: black;
    top: 0;
    right: 0;

    @include mixins.mq(pc) {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 6px;
        background: black;


        &:nth-child(1) {
            top: 10px;
        }

        &:nth-child(2) {
            top: 20px;
        }

        &:nth-child(3) {
            top: 30px;
        }
    }
}