#instagram {
    background-color: variables.$main-color;
    position: relative;
    padding: 10em 0 15em;
    z-index: -1000;
    overflow-x: hidden;

    &:last-child {
        padding-bottom: 10em;
    }

    h2 {
        @include mixins.title-sp(50%, 0);
        @include mixins.title-border(190%, -45%);

        @include mixins.mq(pc) {
            @include mixins.title-pc(30%, 0);
            @include mixins.title-border(0, 0);
        }
    }

    .picture {
        position: relative;

        img {
            position: absolute;
            display: block;
            z-index: -100;

            &:first-child {
                right: 3em;
                width: 20%;
            }

            &:last-child {
                left: 3em;
                width: 10%;
            }
        }
    }


    ul {
        @include mixins.box-width(8);
        @include mixins.flex();
        padding-top: 5em;

        @include mixins.mq(pc) {
            flex-wrap: nowrap;
        }

        li {
            width: 33%;
            padding: .5em;
        }

    }

    .more {
        @include mixins.more()
    }

    @include mixins.wave(url(/images/wave_02@3x.png));
}