main {
    position: relative;
    height: calc(100vh - 8.5em);
    overflow-x: hidden;
    @include mixins.wave(url(/images/wave_01@3x.png));
    
    &::before {
        @include mixins.main_position(200);
        @include mixins.filter-black();
    }

    video {
        height: 100%;
        @include mixins.main_position(100, -50&);
    }

    img{
        height: fit-content;
        width: 70%;
        bottom: 0;
        right: 0;
        margin: auto;
        @include mixins.main_position(300);

        @include mixins.mq(pc){
            width: 50%;
        }
    }
}
