#news {
    padding-bottom: 10em;

    h2 {
        @include mixins.title-sp();

        @include mixins.mq(pc) {
            @include mixins.title-pc();
        }
    }

    ul {
        @include mixins.box-width();
        margin: 5em auto 0;

        @include mixins.mq(pc) {
            display: flex;
            flex-wrap: nowrap;
        }

        li article {
            padding: 1em 0;
            border-top: variables.$border;

            @include mixins.mq(pc) {
                border-top: none;
                margin: 1em;
            }

            &:last-child {
                border-bottom: variables.$border;

                @include mixins.mq(pc) {
                    border-bottom: none;
                }
            }

            img {
                @include mixins.sp-hide();
                display: none;

                @include mixins.mq(pc) {
                    display: block;
                    border: 1px #403333 solid;
                    border-radius: 15px;
                }
            }

            time {
                color: variables.$sub-color;
                font-size: 1.2em;
                display: block;

                @include mixins.mq(pc) {
                    margin-top: .7em;
                }
            }

            p {
                font-weight: 500;
                margin-top: .3em;

                @include mixins.mq(pc) {
                    margin-top: .5em;
                }
            }
        }

    }

    .more {
        @include mixins.more()
    }
}