#news {
    padding-bottom: 10em;

    .picture img {
        position: absolute;
        display: block;
        z-index: -100;
        width: 50vw;
    }

    h2 {
        @include mixins.title-pig();
    }

    ul {
        @include mixins.box-width();
        margin: 5em auto 0;

        @include mixins.mq(pc) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        li article {
            padding: 1em 0;
            border-top: variables.$border;

            @include mixins.mq(pc) {
                border-top: none;
                width: 28vw;
            }

            &:last-child {
                border-bottom: variables.$border;

                @include mixins.mq(pc) {
                    border-bottom: none;
                }
            }

            img {
                display: none;

                @include mixins.mq(pc) {
                    display: block;
                    border: 1px variables.$sub-color solid;
                    border-radius: 15px;
                }
            }

            time {
                color: variables.$sub-color;
                font-size: 1.2em;
                display: block;

                @include mixins.mq(pc) {
                    margin-top: .7em;
                }
            }

            p {
                font-weight: 500;
                margin-top: .3em;

                @include mixins.mq(pc) {
                    margin-top: .5em;
                }
            }
        }
    }
}