#news {
    padding-bottom: 10em;

    h2 {
        @include mixins.title-sp();

        @include mixins.mq(pc) {
            @include mixins.title-pc();
        }
    }

    ul {
        @include mixins.box-width();
        margin: 5em auto 0;

        @include mixins.mq(pc) {
            display: flex;
            flex-wrap: nowrap;
        }

        li {
            padding: 1em 0;
            border-top: variables.$border;

            &:last-child {
                border-bottom: variables.$border;
            }

            article {
                img {
                    @include mixins.sp-hide();
                }

                time {
                    color: variables.$sub-color;
                    font-size: 1.2em;
                }

                p {
                    font-size: variables.$base-font-size;
                    font-weight: 500;
                    margin-top: .3em;
                }
            }
        }
    }

    .more {
        @include mixins.more()
    }
}