#service {
    background: variables.$main-color;
    position: relative;
    z-index: 10;

    h2 {
        @include mixins.title-pig();
    }

    .picture img {
        position: absolute;
        display: block;
        z-index: 100;

        &:first-child {
            width: 30vw;
            top: 2em;
            left: 2em;
        }

        &:last-child {
            width: 50vw;
            bottom: 2em;
            right: 2em
        }
    }

    ul {
        @include mixins.box-width();
        padding-bottom: 10em;

        @include mixins.mq(pc) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between
        }

        li {
            @include mixins.flex-column();
            margin-top: 10em;

            @include mixins.mq(pc) {
                margin-top: 12em;
                width: 42vw;
                justify-content: space-between
            }

            &:first-child {
                margin-top: 5em;
            }

            &:nth-child(-n+2) {
                @include mixins.mq(pc) {
                    margin-top: 6em;
                }
            }

            h3 {
                position: relative;
                background: variables.$sub-color;
                padding: 0.2em 3em;
                margin: 0 auto;
                border-radius: 2.25em;
                @include mixins.hover-tra();

                a {
                    color: #fff;
                    line-height: 2em;
                    font-weight: 700;
                    font-size: 1.5em;
                }

                i {
                    background: #ffffff3b;
                    color: variables.$sub-color;
                    text-align: center;
                    position: absolute;
                    width: 1.5em;
                    height: 1.5em;
                    line-height: 1.5em;
                    border-radius: 1.5em;
                    top: 0;
                    bottom: 0;
                    right: 0.5em;
                    margin: auto;
                }
            }

            figure {
                p {
                    line-height: 2em;
                    padding: 1.5em;
                    text-align: left;

                    +p {
                        padding: 0 1em 1.5em;
                    }

                    &:has(+ p) {
                        padding: 1.5em 1em 0;
                    }
                }
            }
        }
    }
}