#service {
    background: variables.$main-color;

    h2 {
        @include mixins.title-sp();

        @include mixins.mq(pc) {
            @include mixins.title-pc();
        }
    }

    ul {
        @include mixins.box-width();
        padding: 0 0 10em;

        @include mixins.mq(pc) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between
        }

        li {
            @include mixins.flex-column();
            margin-top: 10em;

            &:first-child {
                margin-top: 5em;

            }

            &:nth-child(-n+2) {
                @include mixins.mq(pc) {
                    margin-top: 6em;
                }
            }

            @include mixins.mq(pc) {
                margin-top: 12em;
                width: 42vw;
                justify-content: space-between
            }

            h3 {
                // max-width: 300px;
                font-size: 1.5em;
                background: variables.$sub-color;
                margin: 0 auto;
                padding: 0.2em 3em;
                border-radius: 1.5em;
                position: relative;
                @include mixins.hover-tra ();


                a {
                    color: #fff;
                    line-height: 2em;
                    font-weight: 700;
                }

                i {
                    background: #ffffff3b;
                    width: 1.5em;
                    height: 1.5em;
                    text-align: center;
                    line-height: 1.5em;
                    border-radius: 1.5em;
                    color: variables.$sub-color;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0.5em;
                    margin: auto;
                }



            }

            figure {


                p {
                    line-height: 2em;
                    padding: 1.5em;
                    text-align: left;

                    +p {
                        padding: 0 1em 1.5em;
                    }

                    &:has(+ p) {
                        padding: 1.5em 1em 0;
                    }

                }
            }
        }
    }
}