html {
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #403333;
  font-size: 13px;
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 17px;
  }
}

img {
  max-width: 100%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1775px);
  }
}
@keyframes bottom-wave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-990px);
  }
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 8.5em;
  padding: 1.7em;
}
header h1 {
  width: 20vw;
  height: 100%;
}
header h1 img {
  height: 100%;
}
header nav {
  display: none;
}
@media screen and (min-width: 1000px) {
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav > ul:first-child {
    display: flex;
    height: fit-content;
    justify-content: flex-end;
    color: #fff;
  }
  header nav > ul:first-child li {
    background-color: #b37474;
    width: 13em;
    padding: 0.5em 2em;
    border-radius: 5px;
    margin-left: 2.5em;
    text-align: center;
    transition: 0.3s;
  }
  header nav > ul:first-child li:hover {
    opacity: 0.7;
  }
  header nav > ul:first-child li:first-child {
    margin-left: 0;
  }
  header nav > ul:last-child {
    display: flex;
    margin-top: 1em;
  }
  header nav > ul:last-child > li {
    margin-left: 2.5em;
  }
  header nav > ul:last-child > li:hover .sub-menu {
    display: block;
  }
  header nav > ul:last-child > li:first-child {
    margin-left: 0;
  }
  header nav > ul:last-child > li .sub-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #FFF2F2;
    transition: 1s;
  }
  header nav > ul:last-child > li .sub-menu li {
    padding: 1em 1em;
  }
}

#hamburger {
  display: block;
  position: fixed;
  z-index: 300;
  background-color: black;
  top: 0;
  right: 0;
}
@media screen and (min-width: 1000px) {
  #hamburger {
    display: none;
  }
}
#hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: black;
}
#hamburger span:nth-child(1) {
  top: 10px;
}
#hamburger span:nth-child(2) {
  top: 20px;
}
#hamburger span:nth-child(3) {
  top: 30px;
}

main {
  position: relative;
  height: calc(100vh - 8.5em);
  overflow-x: hidden;
}
main::after {
  background-image: url(/images/wave_01@3x.png);
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left bottom;
  display: block;
  height: 72px;
  width: 2970px;
  content: "";
  z-index: 400;
  position: absolute;
  left: 0;
  bottom: -5px;
  animation: bottom-wave 15s linear infinite;
}
main::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2117647059);
}
main video {
  height: 100%;
  position: absolute;
  top: 0;
  left: -50 main video;
  z-index: 100;
}
main img {
  height: fit-content;
  width: 70%;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}

#about {
  background-color: #FFF2F2;
}
#about section {
  padding-top: 5em;
}
#about section:first-child img:first-child {
  padding-right: 3%;
}
#about section:last-child {
  padding-bottom: 10em;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #about section:last-child article {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
#about section:last-child article img {
  padding-left: 3%;
}
#about section h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
}
#about section h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 2px;
  background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
  background-size: 10px 2px;
  left: -10%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
}
#about section h2 img {
  position: relative;
  background-color: #FFF2F2;
  padding: 0 0.5em;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  #about section h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
  #about section h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
    background-size: 10px 2px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
  }
  #about section h2 img {
    position: relative;
    background-color: #FFF2F2;
    padding: 0 0.5em;
    z-index: 1;
  }
}
@media screen and (min-width: 1000px) {
  #about section article {
    padding-top: 7em;
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
  }
}
#about section article img {
  display: block;
  margin: 5em auto;
  width: 65vw;
}
@media screen and (min-width: 1000px) {
  #about section article img {
    width: 41vw;
    margin: 0;
  }
}
#about section article div {
  width: 80vw;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #about section article div {
    margin: 0;
    width: 40vw;
    position: relative;
  }
}
#about section article div span {
  display: none;
}
#about section article div span.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #about section article div span.sp_hide {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  #about section article div span {
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    color: #F2D291;
    line-height: 1.5em;
  }
}
#about section article div p {
  line-height: 2em;
}
@media screen and (min-width: 1000px) {
  #about section article div p {
    padding-top: 2em;
  }
}
#about section article div strong {
  text-decoration: underline;
  text-decoration-color: #F2D291;
  text-decoration-thickness: 5px;
  text-underline-offset: -2px;
  text-decoration-skip-ink: none;
  font-weight: normal;
}
#about section article div .more {
  display: block;
  padding: 1em 5em 1em 1em;
  margin: 0 auto;
  margin-top: 4em;
  background-color: #F2D291;
  position: relative;
  color: #403333;
  max-width: 15em;
  transition: 0.3s;
}
#about section article div .more:hover {
  opacity: 0.7;
}
#about section article div .more:before {
  content: "";
  display: block;
  border: 1px #403333 solid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}
#about section article div .more i {
  position: absolute;
  right: 1.5em;
}
@media screen and (min-width: 1000px) {
  #about section article div .more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

#slide {
  overflow-x: hidden;
  width: 100vw;
}
#slide span {
  display: none;
}
#slide span.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #slide span.sp_hide {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  #slide span {
    background-image: url(/images/slide/image@3x.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: left bottom;
    height: 190px;
    width: 5326px;
    display: block;
    animation: slide 20s linear infinite;
  }
}

#family {
  background-image: url(/images/family/bg@3x.png);
  background-size: 70%;
}
#family h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #family h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
}
#family ul {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5em 0 7em;
}
@media screen and (min-width: 1000px) {
  #family ul {
    flex-wrap: nowrap;
  }
}
#family ul li {
  width: 45%;
  transition: 0.3s;
}
#family ul li:hover {
  opacity: 0.7;
}
@media screen and (min-width: 1000px) {
  #family ul li {
    margin: 1em;
  }
}
#family ul li:nth-child(n+3) {
  padding-top: 5em;
}
@media screen and (min-width: 1000px) {
  #family ul li:nth-child(n+3) {
    padding-top: 0;
  }
}
#family ul li a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}
#family ul li a h3 {
  color: #b37474;
  font-size: 1.3em;
  margin-top: 1.5em;
  font-weight: 500;
}
@media screen and (min-width: 1000px) {
  #family ul li a h3 {
    font-size: 1.5em;
  }
}

#service {
  background: #FFF2F2;
}
#service h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #service h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
}
#service ul {
  width: 90vw;
  margin: 0 auto;
  padding: 0 0 10em;
}
@media screen and (min-width: 1000px) {
  #service ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#service ul li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  margin-top: 10em;
}
#service ul li:first-child {
  margin-top: 5em;
}
@media screen and (min-width: 1000px) {
  #service ul li:nth-child(-n+2) {
    margin-top: 6em;
  }
}
@media screen and (min-width: 1000px) {
  #service ul li {
    margin-top: 12em;
    width: 42vw;
    justify-content: space-between;
  }
}
#service ul li h3 {
  font-size: 1.5em;
  background: #b37474;
  margin: 0 auto;
  padding: 0.2em 3em;
  border-radius: 1.5em;
  position: relative;
  transition: 0.3s;
}
#service ul li h3:hover {
  opacity: 0.7;
}
#service ul li h3 a {
  color: #fff;
  line-height: 2em;
  font-weight: 700;
}
#service ul li h3 i {
  background: rgba(255, 255, 255, 0.231372549);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 1.5em;
  color: #b37474;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  margin: auto;
}
#service ul li figure p {
  line-height: 2em;
  padding: 1.5em;
  text-align: left;
}
#service ul li figure p + p {
  padding: 0 1em 1.5em;
}
#service ul li figure p:has(+ p) {
  padding: 1.5em 1em 0;
}

#news {
  padding-bottom: 10em;
}
#news h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #news h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
}
#news ul {
  width: 90vw;
  margin: 0 auto;
  margin: 5em auto 0;
}
@media screen and (min-width: 1000px) {
  #news ul {
    display: flex;
    flex-wrap: nowrap;
  }
}
#news ul li article {
  padding: 1em 0;
  border-top: 1px #ccc solid;
}
@media screen and (min-width: 1000px) {
  #news ul li article {
    border-top: none;
    margin: 1em;
  }
}
#news ul li article:last-child {
  border-bottom: 1px #ccc solid;
}
@media screen and (min-width: 1000px) {
  #news ul li article:last-child {
    border-bottom: none;
  }
}
#news ul li article img {
  display: flex;
  display: none;
}
#news ul li article img.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #news ul li article img.sp_hide {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  #news ul li article img {
    display: block;
    border: 1px #403333 solid;
    border-radius: 15px;
  }
}
#news ul li article time {
  color: #b37474;
  font-size: 1.2em;
  display: block;
}
@media screen and (min-width: 1000px) {
  #news ul li article time {
    margin-top: 0.7em;
  }
}
#news ul li article p {
  font-weight: 500;
  margin-top: 0.3em;
}
@media screen and (min-width: 1000px) {
  #news ul li article p {
    margin-top: 0.5em;
  }
}
#news .more {
  display: block;
  padding: 1em 5em 1em 1em;
  margin: 0 auto;
  margin-top: 4em;
  background-color: #F2D291;
  position: relative;
  color: #403333;
  max-width: 15em;
  transition: 0.3s;
}
#news .more:hover {
  opacity: 0.7;
}
#news .more:before {
  content: "";
  display: block;
  border: 1px #403333 solid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}
#news .more i {
  position: absolute;
  right: 1.5em;
}

#banner {
  position: relative;
}
#banner ul {
  width: 90vw;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #banner ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
#banner ul li {
  position: relative;
  margin-bottom: 2em;
}
@media screen and (min-width: 1000px) {
  #banner ul li {
    display: flex;
    flex-wrap: nowrap;
    width: 43vw;
  }
}
#banner ul li a {
  width: 100%;
}
#banner ul li a img {
  width: 100%;
}
#banner ul li a::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2117647059);
}
#banner ul li span {
  font-size: 2.2vw;
  color: #fff;
  position: absolute;
  top: 60%;
  width: fit-content;
  padding: 0.1em 0.4em;
  border-bottom: 1px #fff solid;
}
#banner ul li:nth-child(1) span {
  right: 7%;
}
#banner ul li:nth-child(2) span {
  left: 7%;
}
#banner:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #b37474;
  width: 100%;
  height: 100%;
  top: 10%;
}

#instagram {
  background-color: #FFF2F2;
  position: relative;
  padding: 10em 0 15em;
  z-index: -1000;
  overflow-x: hidden;
}
#instagram:last-child {
  padding-bottom: 10em;
}
#instagram h2 {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding-top: 0;
}
#instagram h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 190%;
  height: 2px;
  background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
  background-size: 10px 2px;
  left: -45%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
}
#instagram h2 img {
  position: relative;
  background-color: #FFF2F2;
  padding: 0 0.5em;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  #instagram h2 {
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding-top: 0;
  }
  #instagram h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
    background-size: 10px 2px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
  }
  #instagram h2 img {
    position: relative;
    background-color: #FFF2F2;
    padding: 0 0.5em;
    z-index: 1;
  }
}
#instagram .picture {
  position: relative;
}
#instagram .picture img {
  position: absolute;
  display: block;
  z-index: -100;
}
#instagram .picture img:first-child {
  right: 3em;
  width: 20%;
}
#instagram .picture img:last-child {
  left: 3em;
  width: 10%;
}
#instagram ul {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 5em;
}
@media screen and (min-width: 1000px) {
  #instagram ul {
    flex-wrap: nowrap;
  }
}
#instagram ul li {
  width: 33%;
  padding: 0.5em;
}
#instagram .more {
  display: block;
  padding: 1em 5em 1em 1em;
  margin: 0 auto;
  margin-top: 4em;
  background-color: #F2D291;
  position: relative;
  color: #403333;
  max-width: 15em;
  transition: 0.3s;
}
#instagram .more:hover {
  opacity: 0.7;
}
#instagram .more:before {
  content: "";
  display: block;
  border: 1px #403333 solid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}
#instagram .more i {
  position: absolute;
  right: 1.5em;
}
#instagram::after {
  background-image: url(/images/wave_02@3x.png);
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left bottom;
  display: block;
  height: 72px;
  width: 2970px;
  content: "";
  z-index: 400;
  position: absolute;
  left: 0;
  bottom: -5px;
  animation: bottom-wave 15s linear infinite;
}

footer {
  background-color: #734E4A;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #fff;
}
footer #footer-logo {
  margin: 0 auto;
  max-width: 200px;
  padding-bottom: 5em;
}
@media screen and (min-width: 1000px) {
  footer #footer-logo {
    max-width: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
  }
}
footer #footer-logo a {
  display: block;
}
footer #footer-logo a:first-child {
  font-size: 8px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  footer #footer-logo a:first-child {
    font-size: 15px;
  }
}
footer #footer-logo a:first-child span {
  display: block;
  margin-top: 1em;
}
footer #footer-logo a:last-child {
  font-size: 8px;
  margin: 5em auto 0;
  padding: 1.5em 0;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background-color: #b37474;
  height: 100%;
}
@media screen and (min-width: 1000px) {
  footer #footer-logo a:last-child {
    margin: 0;
    font-size: 15px;
    height: 100%;
    width: 400px;
  }
}
footer #footer-logo a:last-child strong {
  display: block;
  font-size: 2em;
}
footer #footer-service {
  display: flex;
  display: none;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  padding: 0 3em 3em;
}
footer #footer-service.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  footer #footer-service.sp_hide {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  footer #footer-service {
    display: block;
  }
}
footer #footer-service ul {
  margin: 3em 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer #footer-service ul li {
  width: 10vw;
}
footer #footer-service ul li a span {
  display: block;
  text-align: center;
  margin: 0 auto;
}
footer #footer-service ul li a span:first-child {
  font-size: 4em;
  position: relative;
  background-color: #fff;
  color: #734E4A;
  height: 1.8em;
  width: 1.8em;
  line-height: 1.8em;
  border-radius: 0.9em;
}
footer #footer-service ul li a span:last-child {
  margin-top: 1em;
}
footer #footer-service > a {
  position: absolute;
  right: 0;
  padding-right: 3em;
}
footer #footer-service > a i {
  font-size: 0.7em;
  margin-right: 0.5em;
  border: 1px #fff solid;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 0.75em;
  text-align: center;
}
footer aside #footer-link {
  width: 90vw;
  margin: 0 auto;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  font-weight: 700;
  display: flex;
  padding: 2em 1em;
  justify-content: space-between;
}
@media screen and (min-width: 1000px) {
  footer aside #footer-link {
    padding: 2em 3em;
  }
}
footer aside #footer-link > div {
  width: 50%;
}
@media screen and (min-width: 1000px) {
  footer aside #footer-link > div {
    display: flex;
    justify-content: space-between;
  }
}
footer aside #footer-link > div > ul > li {
  padding: 1em 0;
}
footer aside #footer-link > div > ul > li:has(i) {
  padding-top: 0;
}
footer aside #footer-link > div > ul > li:has(i) ul li {
  padding: 1em 0;
}
@media screen and (min-width: 1000px) {
  footer aside #footer-link > div:first-child {
    width: 75%;
  }
}
@media screen and (min-width: 1000px) {
  footer aside #footer-link > div:first-child > ul {
    width: 33.333%;
  }
}
footer aside #footer-link > div:first-child > ul .sp_hide {
  display: none;
}
@media screen and (min-width: 1000px) {
  footer aside #footer-link > div:first-child > ul .sp_hide {
    display: block;
  }
}
footer aside #footer-link > div:first-child > ul .sp_hide li:has(> i) {
  font-weight: 400;
}
footer aside #footer-link > div:first-child > ul .sp_hide i {
  margin-right: 0.5em;
}
@media screen and (min-width: 1000px) {
  footer aside #footer-link > div:last-child {
    width: 25%;
  }
}
footer aside #social {
  width: 80vw;
  margin: 0 auto;
  margin-top: 0.7em;
  font-size: 2em;
}
footer aside #social ul {
  display: flex;
  justify-content: flex-end;
}
footer aside #social ul li:last-child {
  margin-left: 0.7em;
}
footer aside #copr {
  width: 80vw;
  margin: 0 auto;
}
footer aside #copr p {
  font-size: 13px;
  text-align: center;
  margin-top: 3em;
  line-height: 2em;
}
footer aside #copr h6 {
  font-size: 10px;
  margin-top: 2em;
  text-align: center;
}