html {
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #403333;
}

img {
  max-width: 100%;
}

@keyframes bottom-wave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-990px);
  }
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 8.5em;
  padding: 1.7em;
}
header h1 {
  width: 20vw;
  height: 100%;
}
header h1 img {
  height: 100%;
}
header nav {
  display: none;
}
@media screen and (min-width: 1000px) {
  header nav {
    display: flex;
    flex-direction: row;
  }
  header nav ul:first-child {
    background-color: #b37474;
    display: flex;
    height: fit-content;
    color: #fff;
    padding: 1em 1em;
    border-radius: 5px;
  }
  header nav ul:last-child {
    display: flex;
  }
  header nav ul .sub-menu {
    display: none;
  }
}

#hamburger {
  display: block;
  position: fixed;
  z-index: 300;
  background-color: black;
  top: 0;
  right: 0;
}
@media screen and (min-width: 1000px) {
  #hamburger {
    display: none;
  }
}
#hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: black;
}
#hamburger span:nth-child(1) {
  top: 10px;
}
#hamburger span:nth-child(2) {
  top: 20px;
}
#hamburger span:nth-child(3) {
  top: 30px;
}

main {
  position: relative;
  height: calc(100vh - 8.5em);
  overflow-x: hidden;
}
main::after {
  background-image: url(/images/wave_01@3x.png);
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left bottom;
  display: block;
  height: 72px;
  width: 2970px;
  content: "";
  z-index: 400;
  position: absolute;
  left: 0;
  bottom: -1px;
  animation: bottom-wave 15s linear infinite;
}
main::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2117647059);
}
main video {
  height: 100%;
  position: absolute;
  top: 0;
  left: -50 main video;
  z-index: 100;
}
main img {
  height: fit-content;
  width: 70%;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}

#about {
  background-color: #FFF2F2;
}
#about section {
  padding-top: 10em;
}
#about section:last-child {
  padding-bottom: 10em;
}
@media screen and (min-width: 1000px) {
  #about section:last-child article {
    flex-direction: row-reverse;
  }
}
#about section h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
}
#about section h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 2px;
  background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
  background-size: 10px 2px;
  left: -10%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
}
#about section h2 img {
  position: relative;
  background-color: #FFF2F2;
  padding: 0 0.5em;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  #about section h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
  #about section h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
    background-size: 10px 2px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
  }
  #about section h2 img {
    position: relative;
    background-color: #FFF2F2;
    padding: 0 0.5em;
    z-index: 1;
  }
}
@media screen and (min-width: 1000px) {
  #about section article {
    display: flex;
  }
}
#about section article img {
  display: block;
  padding: 4em 0;
  margin: 0 auto;
  width: 65vw;
}
#about section article div {
  width: 80vw;
  margin: 0 auto;
}
#about section article div span {
  display: none;
}
#about section article div span.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #about section article div span.sp_hide {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  #about section article div span {
    display: block;
  }
}
#about section article div p {
  font-size: 13px;
  line-height: 2em;
}
#about section article div strong {
  text-decoration: underline;
  text-decoration-color: #F2D291;
  text-decoration-thickness: 5px;
  text-underline-offset: -2px;
  text-decoration-skip-ink: none;
  font-weight: normal;
}
#about section article div .more {
  display: block;
  font-size: 13px;
  padding: 1em 5em 1em 1em;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 4em;
  background: #F2D291;
  position: relative;
  color: #403333;
  position: relative;
}
#about section article div .more:before {
  content: "";
  display: block;
  border: 1px #403333 solid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}
#about section article div .more i {
  position: absolute;
  right: 1.5em;
}

#slide {
  display: none;
}
#slide.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #slide.sp_hide {
    display: none;
  }
}

#family {
  background-image: url(/images/family/bg@3x.png);
  background-size: 70%;
}
#family h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #family h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
}
#family ul {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5em 0 7em;
}
@media screen and (min-width: 1000px) {
  #family ul {
    flex-wrap: nowrap;
  }
}
#family ul li {
  width: 45%;
}
#family ul li a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}
#family ul li a h3 {
  color: #b37474;
  font-size: 1.3em;
  margin-top: 1.5em;
  font-weight: 500;
}

#service {
  background: #FFF2F2;
}
#service h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #service h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
}
#service ul {
  width: 90vw;
  margin: 0 auto;
  padding: 0 0 10em;
}
@media screen and (min-width: 1000px) {
  #service ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#service ul li {
  display: flex;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  margin-top: 10em;
}
#service ul li.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #service ul li.sp_hide {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  #service ul li {
    width: 42vw;
  }
}
#service ul li h3 {
  max-width: 300px;
  font-size: 2em;
  background: #b37474;
  margin: 0 auto;
  padding: 0.2em 3em;
  border-radius: 1.5em;
  position: relative;
}
#service ul li h3 a {
  color: #fff;
  line-height: 2em;
  font-weight: 700;
}
#service ul li h3 i {
  background: rgba(255, 255, 255, 0.231372549);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 1.5em;
  color: #b37474;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  margin: auto;
}
#service ul li figure p {
  font-size: 13px;
  line-height: 2em;
  padding: 1.5em;
  text-align: left;
}
#service ul li figure p + p {
  padding: 0 1em 1.5em;
}
#service ul li figure p:has(+ p) {
  padding: 1.5em 1em 0;
}

#news {
  padding-bottom: 10em;
}
#news h2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10em;
}
@media screen and (min-width: 1000px) {
  #news h2 {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-top: 10em;
  }
}
#news ul {
  width: 90vw;
  margin: 0 auto;
  margin: 5em auto 0;
}
@media screen and (min-width: 1000px) {
  #news ul {
    display: flex;
    flex-wrap: nowrap;
  }
}
#news ul li {
  padding: 1em 0;
  border-top: 1px #ccc solid;
}
#news ul li:last-child {
  border-bottom: 1px #ccc solid;
}
#news ul li article img {
  display: flex;
}
#news ul li article img.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  #news ul li article img.sp_hide {
    display: flex;
  }
}
#news ul li article time {
  color: #b37474;
  font-size: 1.2em;
}
#news ul li article p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 0.3em;
}
#news .more {
  display: block;
  font-size: 13px;
  padding: 1em 5em 1em 1em;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 4em;
  background: #F2D291;
  position: relative;
  color: #403333;
  position: relative;
}
#news .more:before {
  content: "";
  display: block;
  border: 1px #403333 solid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}
#news .more i {
  position: absolute;
  right: 1.5em;
}

#banner {
  position: relative;
}
#banner ul {
  width: 90vw;
  margin: 0 auto;
}
#banner ul li {
  position: relative;
  margin-bottom: 2em;
}
#banner ul li p {
  font-size: 1.8em;
  color: #fff;
  position: absolute;
  top: 60%;
  width: fit-content;
  padding: 0.1em 0.4em;
  border-bottom: 1px #fff solid;
}
#banner ul li:nth-child(1) p {
  right: 7%;
}
#banner ul li:nth-child(2) p {
  left: 7%;
}
#banner ul li::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2117647059);
}
#banner:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #b37474;
  width: 100%;
  height: 100%;
  top: 10%;
}

#instagram {
  background-color: #FFF2F2;
  position: relative;
  padding: 10em 0 15em;
  z-index: -1000;
  overflow-x: hidden;
}
#instagram:last-child {
  padding-bottom: 10em;
}
#instagram h2 {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding-top: 0;
}
#instagram h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 190%;
  height: 2px;
  background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
  background-size: 10px 2px;
  left: -45%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
}
#instagram h2 img {
  position: relative;
  background-color: #FFF2F2;
  padding: 0 0.5em;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  #instagram h2 {
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding-top: 0;
  }
  #instagram h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #b37474 4px, transparent 2px);
    background-size: 10px 2px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
  }
  #instagram h2 img {
    position: relative;
    background-color: #FFF2F2;
    padding: 0 0.5em;
    z-index: 1;
  }
}
#instagram .picture {
  position: relative;
}
#instagram .picture img {
  position: absolute;
  display: block;
  z-index: -100;
}
#instagram .picture img:first-child {
  right: 3em;
  width: 20%;
}
#instagram .picture img:last-child {
  left: 3em;
  width: 10%;
}
#instagram ul {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 5em;
}
@media screen and (min-width: 1000px) {
  #instagram ul {
    flex-wrap: nowrap;
  }
}
#instagram ul li {
  width: 33%;
  padding: 0.5em;
}
#instagram .more {
  display: block;
  font-size: 13px;
  padding: 1em 5em 1em 1em;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 4em;
  background: #F2D291;
  position: relative;
  color: #403333;
  position: relative;
}
#instagram .more:before {
  content: "";
  display: block;
  border: 1px #403333 solid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
}
#instagram .more i {
  position: absolute;
  right: 1.5em;
}
#instagram::after {
  background-image: url(/images/wave_02@3x.png);
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left bottom;
  display: block;
  height: 72px;
  width: 2970px;
  content: "";
  z-index: 400;
  position: absolute;
  left: 0;
  bottom: -1px;
  animation: bottom-wave 15s linear infinite;
}

footer {
  background-color: #734E4A;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #fff;
}
footer > div {
  margin: 0 auto;
  max-width: 200px;
  padding-bottom: 5em;
}
@media screen and (min-width: 1000px) {
  footer > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
footer > div a {
  display: block;
}
@media screen and (min-width: 1000px) {
  footer > div a {
    width: 40vw;
  }
}
footer > div a span {
  display: block;
  margin-top: 1em;
}
footer > div a:first-child {
  font-size: 8px;
  text-align: center;
}
footer > div a:last-child {
  font-size: 8px;
  margin: 5em auto 0;
  padding: 1.5em 0;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background-color: #b37474;
}
@media screen and (min-width: 1000px) {
  footer > div a:last-child {
    margin: 0 auto;
  }
}
footer > div a:last-child strong {
  display: block;
  font-size: 2em;
}
footer aside #link {
  width: 90vw;
  margin: 0 auto;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  padding: 3em;
}
footer aside #link > div {
  width: 50%;
}
footer aside #link > div li {
  padding: 1em 0;
}
footer aside #link .sp_hide {
  display: flex;
}
footer aside #link .sp_hide.sp_hide {
  display: none;
}
@media screen and (min-width: 600px) {
  footer aside #link .sp_hide.sp_hide {
    display: flex;
  }
}
footer aside #social {
  width: 80vw;
  margin: 0 auto;
  margin-top: 0.7em;
  font-size: 2em;
}
footer aside #social ul {
  display: flex;
  justify-content: flex-end;
}
footer aside #social ul li:last-child {
  margin-left: 0.7em;
}
footer aside #copr {
  width: 80vw;
  margin: 0 auto;
}
footer aside #copr p {
  font-size: 8px;
  text-align: center;
  margin-top: 3em;
  line-height: 2em;
}
footer aside #copr h6 {
  font-size: 7px;
  margin-top: 2em;
  text-align: center;
}